html {
    margin:    0 auto;
    max-width: auto;
}

body {
    max-width: auto;
    margin-bottom:10%;
}     

a {
	color: #f9fafb;;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f9fafb;;
}

pre {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	width: unset;
	/* padding-right: var(--bs-gutter-x,.75rem);
	padding-left: var(--bs-gutter-x,.75rem); */
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
	margin-right: auto;
	margin-left: auto;

}

.fixed-top {
	position: unset;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.vim-caret {

	animation: vimCaret 1s linear infinite;
}

vim-caret {
    -webkit-animation:vimCaret 1s linear infinite;
    -o-animation:vimCaret 1s linear infinite;
    animation:vimCaret 1s linear infinite
   }
   @-webkit-keyframes vimCaret {
    0% {
     background-color:transparent
    }
    49% {
     background-color:transparent
    }
    50% {
     background-color:rgba(255,255,255,.2)
    }
    100% {
     background-color:rgba(255,255,255,.2)
    }
   }
   @-o-keyframes vimCaret {
    0% {
     background-color:transparent
    }
    49% {
     background-color:transparent
    }
    50% {
     background-color:rgba(255,255,255,.2)
    }
    100% {
     background-color:rgba(255,255,255,.2)
    }
   }
   @keyframes vimCaret {
    0% {
     background-color:transparent
    }
    49% {
     background-color:transparent
    }
    50% {
     background-color:rgba(255,255,255,.2)
    }
    100% {
     background-color:rgba(255,255,255,.2)
    }
   }



/* matrix rain */

* {margin: 0; padding: 0}
body {background: #000;}
canvas {display: block;}

/* matrix rain */


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #808080;
}
.fab {
    color: #fff;
}
/* footer styling */
#footer {
    /* background-color: #808080; */
    text-align: center;
}

 /* github repo cards */

 .github-cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /* width: 900px; */
  }
  
  .github-card {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    flex: 1;
    min-width: 250px;
  }
  .github-card > h3 {
    margin-top: 0;
    color: #4078c0;
    font-size: 15px;
  }
  
  .github-card__meta {
    margin-right: 20px;
  }
  .github-card__meta > i {
    font-size: 16px;
  }